.navhole{
background-color: grey;
/* height: 50px; */
margin: 0;
}
.aa{
    background-color: black;
    position: fixed;
    top: 0px;
}
*{
    background-color: black;
}
.bb  {
font-size: 17px;
text-transform: uppercase;
/* transition: all;
transition-duration: 2s; */

}
.cc{
    width: 100%;
    height: 600px;
    margin: 0px;
}
.bb :hover{
font-size: 20px;
/* text-decoration: underline; */
outline: none;
transition: all;
transition-duration: 1s;
}
.dd{
    margin: 0px;
    display: flex;
    justify-content: center;
    /* float: left; */
}
.img1{
    height: 190px;
}
.thumbnail{
width: 400px;
height: 400px;
margin-top: 50px;

}
.h{
    text-align: center;
    color: white;
    /* background-color: white; */
    margin-top: 50px;

}
.para{
    color: white;
    font-style: italic;
    font-weight: 400;
    margin-left: 10px;
}
.footer{
    color: white;
    margin-top: 80px;
}
.footerimg{
    background-color: black;
    margin-top: 50px;
    height: 30px;
}